{% extends 'ASFLayoutBundle::backend_model.html.twig' %}

{% block asf_base_meta_title_suffix %}ASF CPanel{% endblock %}

{% block navbar_project %}
	<a class="navbar-brand" href="{{ path('asf_backend_homepage') }}">ASF CPanel</a>
{% endblock %}

{% block navbar_nav %}
{{ knp_menu_render('navbar_menu', {'style': 'navbar-right'}) }}
{% endblock %}

{% block sidebar_nav %}
{{ knp_menu_render('sidebar_menu', {'style': 'nav'}) }}
{% endblock %}