{% extends 'ASFLayoutBundle::backend_model.html.twig' %}

{% block asf_base_meta_title_suffix %}ASF CPanel{% endblock %}

{% block navbar_project %}
	<a class="navbar-brand" href="{{ path('asf_backend_homepage') }}">ASF CPanel</a>
{% endblock %}

{% block navbar_nav %}
<ul class="nav navbar-nav navbar-right">
	<li><a href="{{ path('asf_backend_homepage') }}">Dashboard</a></li>
	<li><a href="#">Settings</a></li>
	<li><a href="#">Profile</a></li>
	<li><a href="#">Help</a></li>
</ul>
{% endblock %}